body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 4px solid black;
}

/*PRODUCT TITLE */
.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(185, 185, 185);
}

/* FREE SHIPPING */
.free-shipping {
  color: rgb(129, 140, 150);
}

/* PRODUCT DETAILS */
.product-details {
  text-transform: uppercase;
}

/* ADD TO CART */
.add-to-cart {
  background-color: black;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 20px;
  border: none;
}

/* MORE INFO */
.more-info {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}

.details-list {
  list-style: square;
}
